@{
    ViewBag.Title = "Home Page";
}   

<div class="jumbotron">
    <h1>GENERADOR DE SOLICITUDES</h1>
    <p class="lead">Presiona un elemento de la izquierda, o presiona el boton para ver las bitacoras creadas.</p>
    <br />
    <br />
    <a class="btn btn-primary btn-lg" link=@Html.ActionLink("Bitacoras", "Index", "Bitacora")</a>
</div>

